.cache/
.fleet/
.turbo/
.vscode/
.next/
.moon/
templates/
build/
dist/
out/
package-lock.json
public/
yarn.lock
.vercel/
node_modules/
coverage/
cjs/
dts/
esm/
lib/
mjs/
umd/
*.d.ts
*.d.cts
*.d.mts
*.min.js
*.map
*.snap
